*{
    margin:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CBF3F0;
}
.calculator{
    overflow: hidden;
    width: 400px;
    height: 600px;
    box-shadow: 4px 4px 5px 4px #3d737c;
    border-radius: 5px;
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #85b5be;
}

.display{
    height: 90%;
    width: 96%;
    box-shadow: 0px 0px 5px 1px #3d737c;
    border-radius: 8%;
    background-color: #98c9d1;
}

.display_prevInput,
.display_currentInput{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding:0px 10px;
    font-size: 25px;
    font-weight: bold;
    color: #364958;
}
.display_currentInput{
    display: flex;
    justify-content: right;
}

.buttons{
    height: 80.1%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #85b5be;
    padding:5px;
}

.buttons #clear,
.buttons #zero{
    grid-column: 1/3;
}


.button,
.equal{
    margin:5px;
    border-radius: 15%;
    border: none;
    background-color: #85b5be;
    box-shadow: 2px 2px 5px 1px #3d737c;
    font-size: 25px;
    font-weight: bold;
    color: #364958;
}

.button:active,
.equal:active{
    background-color: #3d737c;
}